$bg-color: #141414;
$sub-color: #f44242;
$text-color: #ffffff;
$sub-text-color: #828282;
$card-bg-color: #222222;
$card-border-color: #424242;
$button-hover-bg-color: #f55353;
$button-bg-color: #f44242;


